In [2]:
#Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from config import g_key

#Loading dataframe from WeatherPy
cities_df = pd.read_csv("../WeatherPy/output_data.csv")
cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Esperance,100,AU,1583994880,64,-33.87,121.90,73.436,21.922012
1,Saskylakh,99,RU,1583994933,91,71.92,114.08,3.596,16.978375
2,Bhandāra,20,IN,1583994902,48,21.17,79.65,84.236,3.355410
3,Hilo,90,US,1583994884,78,19.73,-155.09,71.636,5.748936
4,Ushuaia,90,AR,1583994621,93,-54.80,-68.30,46.436,4.697574

In [10]:
#Configure google maps
gmaps.configure(api_key=g_key)

#Create Heatmap using coordinates of cities and humidities as weight
locations = cities_df[['Lat', 'Lng']]
weights = cities_df['Humidity']
figure_layout = {
    'width': '600px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…